@import "../global.css";
@import "../theme.css";
@import "../components/top-bar.css";
@import "../components/button.css";
@import "../components/weather-card.css";
@import "../components/alert.css";
@import "../components/zip-code-alert.css";
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main main main";
}

.temp-container {
    align-items: flex-start;
    width: 100%;
}

#main {
    position: relative;
    top: 30px;
    grid-area: main;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 1fr;
}

#main-content {
    padding: 5vh 0 5vh 0;
    grid-area: 1/2/2/3;
}

#time {
    opacity: 0.8;
}

#weather-icon {
    width: 45px;
    height: 45px;
    margin-right: 1%;
}

#weather-condition {
    margin-left: 1%;
}

#feels-like {
    width: 150%;
}

#feelings-form {
    margin-top: 5vh;
    border: none;
    padding: 1%;
}

#feelings-input {
    overflow: auto;
    outline: none;
    padding: 2% 0% 0% 5%;
}

#generate {
    width: 70vw;
    margin: 2% 0%;
}

#change-location {
    width: 80vw;
    margin-top: 5vh;
}

@media(min-width: 768px) {
    #main {
        top: 40px;
    }
}

@media(min-width: 1000px) {
    #main {
        top: 60px;
    }
}