@import "../global.css";
@import "../theme.css";
@import "../components/top-bar.css";
@import "../components/button.css";
@import "../components/weather-card.css";
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main main main";
    transition: margin-right 0.7s;
    width: 100%;
}

.temp-container {
    align-items: flex-start;
    width: 100%;
}

#main {
    position: relative;
    top: 30px;
    grid-area: main;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 1fr;
}

#main-content {
    grid-area: 1/2/2/3;
}

#weather-temperature {
    margin-top: 5vh;
}

#time {
    opacity: 0.8;
}

#weather-icon {
    width: 45px;
    height: 45px;
    margin-right: 1%;
}

#weather-condition {
    margin-left: 1%;
}

#feels-like {
    width: 150%;
}

@media(min-width: 768px) {
    #main {
        top: 40px;
    }
}

@media(min-width: 1000px) {
    #main {
        top: 60px;
    }
}