/* Landscape phones (width 568px and up) */

@media only screen and (min-width: 568px) and (orientation: landscape) {
    .weather-card {
        margin-top: 3vw;
    }
    .weather-card-icon {
        width: 12vh;
        height: 6vw;
    }
}